* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --red: #a4161a;
    --background: #F0F9FE
}

body {
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*oeEbzD8AtVeuYmDPy1MTKA.jpeg');
    background-size: cover;
    font-family: 'Archivo', sans-serif;
    background-color: #141414;
    color: #fff;
}

/* Nav */

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 0;
}

.container--hero {
    padding: 40px 0;
}

.nav__container {
    width: 100%;
    background: linear-gradient(to top, #141414, #000000);
    position: fixed;
    z-index: 500;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    width: 35px;
    cursor: pointer;
    z-index: 100;
}

.nav__list {
    display: grid;
    position: fixed;
    list-style: none;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(164, 22, 26, 0.97);
    gap: 5rem;
    padding: 80px 0;
    place-content: center;
    justify-content: center;
    text-align: center;
    transform: translate(-100%);
    transition: transform .3s;
}

.nav__list--show {
    transform: translate(0);
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.nav__link, .cinema__link, .nav__scroll {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

.nav__logo {
    max-width: 180px;
}

.nav__logo--link {
    text-decoration: none;
    font-size: 2rem;
    color: #9F161A;
}

.nav__item--container{
    display: none;
}
/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

.modify--container {
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.modify--title {
    font-size: 2.3rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 0, 0, 0.5) inset !important;
}

.input-contender {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #ffffff;
}

.input-contender label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

.input-contender input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 15px 0 5px;
    color: #ffffff;
}

.input-contender i {
    position: absolute;
    color: #ffffff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.genres-contender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #ffffff;
}

.genres-contender select {
    background-color: #252525;
    border-radius: 5px;
}

.genres-contender label,
.genres-contender select {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 20px;
}

.modify__button--container {
    width: 80%;
}

.modify--button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: darkred;
    border: white;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.modify--button:hover {
    opacity: .9;
}

.swal-button {
    background-color: #9F161A;
}

.swal-button:not([disabled]):hover {
    background-color: #800e13;
}

/* media querys */

@media (min-width: 850px) {

    .container {
        max-width: 90%;
    }

    .nav__menu {
        display: none;
    }

    .nav__list {
        position: static;
        background-color: transparent;
        padding: 0;
        display: flex;
        gap: 0;
        list-style: none;
        transform: unset;
        transition: none;
    }

    .nav__list--show {
        transform: unset;
    }

    .nav__link {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.4rem;
    }

    .nav__item--container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .submenu {
        position: relative;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .submenu__content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .submenu__content .nav__item {
        margin: 0;
        padding: 0;
        padding: 1.5rem 0;
    }

    .submenu:hover .submenu__content {
        display: block;
    }

    .cinema__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
    }

    .submenu:hover,
    .submenu .nav__item {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .nav__item:nth-child(5) {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    /* hero-main */

    .hero__main {
        min-height: 500px;
        gap: 40px;
        align-items: center;
    }

    .hero__figure {
        order: 0;
        padding: 0;
    }

    .hero__img {
        max-width: 100%;
    }
}

@media (max-height: 650px) {
    .nav__list {
        gap: 3rem; 
        padding: 40px 0; 
    }

    .submenu__content {
        gap: 3rem; 
    }
}
