* {
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/sala-de-cine.jpg");
  background-size: cover;
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 

} 

.login--section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

}

.login--container{
  position: relative;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login--form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login--title{
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.input:-webkit-autofill {
	-webkit-box-shadow:  0 0 0 1000px rgba(255, 0, 0, 0.5) inset !important;
}

.input-contender{
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid #ffffff;
}

.input-contender label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1rem;
  pointer-events: none;
  transition: .6s;
  font-weight: bold;
}

.input-contender input{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 15px 0 5px;
  color: #ffffff;
}

.input-contender i{
  position: absolute;
  color: #ffffff;
  font-size: 1.6rem;
  top: 19px;
  right: 8px;

}

.forgot--container{
  margin-bottom: 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px
}

.forgot--container label input{
  margin: 3px;
}

.forgot--container a{
  color: #fff;
  text-decoration: none;
  transition: .3s;
  font-size: .9em;
}

.forgot--container a:hover{
  text-decoration: underline;
}

.login__button--container{
  width: 80%;
}

.login--button{
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background-color: darkred;
  border: white;
  font-weight: bold;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: .4s;
}

.login--button:hover{
  opacity: .9;
}

.register--container{
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

.register--container a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: .3s;
}

.register--container a:hover{
  text-decoration: underline;
}

.swal2-confirm{
  background-color: #9F161A !important
}

.swal-confirm:not([disabled]):hover {
  background-color: #800e13 !important;
}
